<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="/static/alogin.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img class="img" src="/static/nitt.jpeg" alt="NITT logo">
    <div class="Title">
        <h2>NITT PLACEMENT PORTAL</h2>
    </div>
    <div class="nav">
        <a href="/home" class="item" id="i1">Home</a>
        <a href="/login" class="item" id="i2">Login</a>
        <a href="/alogin" class="item" id="i3">Admin Login</a>
        <a href="/contact" class="item" id="i4">Contact Us</a>
        <a href="/forgot" class="item" id="i5">Forgot Password</a>
    </div>
    <div class="adminlogin">
        <h2>Admin Login</h2>
    </div>
    <div class="login-body">
        <form class="form" action="{{url_for('alogin')}}" method="POST">
            <input type="text" class="form-data" name="aemail" placeholder="Enter your admin email" id="email" required>
            <br>
            <input type="password" class="form-data" name="password" placeholder="Enter your password" id="password" required>
            <br>
            <input type="submit" value="Enter" class="form-btn" name="submit"> 
        </form>
        <div id="msg">{{msg}}</div>
    </div>
</body>
</html>