<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link href="/static/change.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src="/static/nitt.jpeg" alt="NITT logo">
    <div class="Title">
        <h2>NITT PLACEMENT PORTAL</h2>
    </div>
    <div class="nav">
        <a href="/profile" class="item" id="i1">Your Profile</a>
        <a href="/ufile" class="item" id="i2">Upload Files</a>
        <a href="/newcontact" class="item" id="i3">Contact Us</a>
        <a href="/settings" class="item" id="i4">Settings</a>
        <a href="/logout" class="item" id="i5">Log-Out</a>
    </div>
    <div class="change">
        <h2>Change Password</h2>
    </div>
    <div class="change-body">
        <form class="form" action="{{url_for('change')}}" method="POST">
            <input type="password" class="form-data" name="password" placeholder="Enter your current password" id="password" required>
            <br>
            <input type="password" class="form-data" name="password1" placeholder="Enter your new password" id="password1" required>
            <br>
            <input type="password" class="form-data" name="password2" placeholder="Re-enter your new password" id="password2" required>
            <br>
            <input type="submit" value="Enter" class="form-btn" name="submit"> 
        </form>
        <div id="msg">{{msg}}</div>
    </div>
</body>
</html>