<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/static/forgot.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img class="img" src="/static/nitt.jpeg" alt="NITT logo">
    <div class="Title">
        <h2>NITT PLACEMENT PORTAL</h2>
    </div>
    <div class="nav">
        <a href="/home" class="item" id="i1">Home</a>
        <a href="/login" class="item" id="i2">Login</a>
        <a href="/alogin" class="item" id="i3">Admin Login</a>
        <a href="/contact" class="item" id="i4">Contact Us</a>
        <a href="/forgot" class="item" id="i5">Forgot Password</a>
    </div>
    <div class="forgot">
        <h2>Forgot Password</h2>
    </div>
</body>
</html>