<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/static/newhome.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src="/static/nitt.jpeg" alt="NITT logo">
    <div class="Title">
        <h2>NITT PLACEMENT PORTAL</h2>
    </div>
    <div class="nav">
        <a href="/profile" class="item" id="i1">Your Profile</a>
        <a href="/ufile" class="item" id="i2">Upload Files</a>
        <a href="/newcontact" class="item" id="i3">Contact Us</a>
        <a href="/settings" class="item" id="i4">Settings</a>
        <a href="/logout" class="item" id="i5">Log-Out</a>
    </div>
    <h1>Welcome {{name}}</h1>
    <img  class="newimg" src="/static/new.jpeg" alt="Capstone Building" >
</body>
</html>