<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/static/rnewhome.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src="/static/nitt.jpeg" alt="NITT logo">
    <div class="Title">
        <h2>NITT PLACEMENT PORTAL</h2>
    </div>
    <div class="nav">
        <a href="/applications" class="item" id="i1">Applications</a>
        <a href="/candidates" class="item" id="i2">Recruited Candidates</a>
        <a href="/rnewcontact" class="item" id="i3">Contact Us</a>
        <a href="/rsettings" class="item" id="i4">Settings</a>
        <a href="/rlogout" class="item" id="i5">Log-Out</a>
    </div>
    <div class="newimg">
        <img class="mySlides" src="/static/new.jpeg" alt="Capstone Building" style="width:100%">
        <img class="mySlides" src="/static/img2.jpeg" alt="NITT MAIN GATE" style="width:100%">
        <img class="mySlides" src="/static/img3.jpeg" alt="LIBRARY" style="width:100%">
        <img class="mySlides" src="/static/img4.jpeg" alt="CLOCK TOWER" style="width:100%">
      </div>
    <script src="/static/home.js"></script>
</body>
</html>